{
    "template":"Examples/Template/Program.cs"
    , "examples":[
        {
            "id":"authentication"
            , "name": "Authentication"
            , "description": "This example will login to Skylight using the SDK."
            , "root": "Examples/Authentication"
            , "file": "Program.cs"
            , "docs": ["authentication.login"]
        }
        , {
            "id":"createUserManagerGroup"
            , "name": "Create User, Manager, and Group"
            , "description": "This example will prompt for a name and create a user, manager, and group for your Skylight domain based on that name."
            , "root": "Examples/CreateUserManagerGroup"
            , "file": "Program.cs"
            , "docs": ["users.create", "groups.create", "users.temporarypassword", "users.getbyname", "users.getbyid", "users.update", "users.updaterole", "users.logout", "users.delete", "groups.assign", "groups.delete", "groups.getbyname"]
        }

    ]
    , "keep": ["Examples"]
}