{
    "template":"Examples/Template/Program.cs"
    , "examples":[
        {
            "id":"createUserManagerGroup"
            , "name": "Create User, Manager, and Group"
            , "description": "This example will prompt for a name and create a user, manager, and group for your Skylight domain based on that name."
            , "root": "Examples/CreateUserManagerGroup"
            , "docs": ["users.create", "groups.create"]
        }
    ]
    , "keep": ["Examples"]
}