{
    "template":"Examples/Template/Program.cs"
    , "examples":[
        {
            "id":"authentication"
            , "name": "Authentication"
            , "description": "This example will login to Skylight using the SDK."
            , "root": "Examples/Authentication"
            , "file": "Program.cs"
            , "docs": ["authentication.login"]
        }
        , {
            "id":"template"
            , "name": "Template"
            , "description": "This is the Hello World example."
            , "root": "Examples/Template"
            , "file": "Program.cs"
            , "docs": ["media.download", "mqtt.cardupdated.cardtags", "cards.tags", "assignments.delete"]
        }
        , {
            "id":"createUserManagerGroup"
            , "name": "Create User, Manager, and Group"
            , "description": "This example will prompt for a name and create a user, manager, and group for your Skylight domain based on that name."
            , "root": "Examples/CreateUserManagerGroup"
            , "file": "Program.cs"
            , "docs": ["users.create", "users.temporarypassword", "users.getall", "users.getbyid", "users.update", "users.updaterole", "users.logout", "users.delete", "groups.create", "groups.update", "groups.assign", "groups.unassign", "groups.delete", "groups.getall", "groups.getbyid"]
        }
        , {
            "id":"media"
            , "name": "Media"
            , "description": "This example will upload a file."
            , "root": "Examples/Media"
            , "file": "Program.cs"
            , "docs": ["media.upload"]
        }
        , {
            "id":"assignments"
            , "name": "Cards, Sequences, and Assignments"
            , "description": "This example will create an assignment that has cards that will create/delete sequences within that assignment."
            , "root": "Examples/Assignments"
            , "file": "Program.cs"
            , "docs": ["mqtt.cardupdated.cardid", "assignments.get", "assignments.bulkcreate", "assignments.delete", "cards.update", "cards.delete", "cards.get", "cards.create", "sequences.delete", "sequences.create"]
        }
        , {
            "id":"mqtt"
            , "name": "MQTT Events"
            , "description": "This example will subscribe to various MQTT events."
            , "root": "Examples/Mqtt"
            , "file": "Program.cs"
            , "docs": ["mqtt.cardupdated.componenttype"]
        }
    ]
    , "keep": ["Examples"]
}